{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Dashboard{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/add_modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/edit_modal.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    {% block extra_css %}{% endblock %}
</head>
<body>

  <!-- Sidebar -->
  <div class="sidebar" id="sidebar">
      <h2>My Dashboard</h2>
      <a href="#">🏠 Home</a>
<!--      <a href="#">📊 Reports</a>-->
      <a href="{% url 'transaction_list' %}?is_expense=False">💰 Earnings</a>
<!--      <a href="#">📦 Products</a>-->
      <a href="#">🧾 Expense</a>

      <!-- Settings with toggle -->
      <div class="sidebar-item">
          <div class="settings-toggle">
            <span>⚙️ Settings</span>
            <i class="fas fa-chevron-down toggle-icon"></i>
          </div>
          <div class="submenu">
              <a href="{% url 'category_list' %}?is_expense=False">💵 Earning Category</a>
              <a href="{% url 'category_list' %}?is_expense=True">📝 Expense Category</a>
              <a href="#">🔑 Change Password</a>
          </div>
      </div>
      <a href="{% url 'logout' %}">🚪 Logout</a>
  </div>

  <!-- Overlay -->
  <div class="overlay" id="overlay" onclick="closeSidebar()"></div>

  <!-- Main content -->
  <div class="main">
    <!-- Navbar -->
    <div class="navbar" id="navbar">
        <span class="hamburger" onclick="toggleSidebar()">☰</span>
        <h1 id="welcome-text">Welcome, {{ user.username }}</h1>
    </div>

    <!-- Page content -->
    <div class="content">
      {% block content %}{% endblock %}
    </div>
  </div>
  <script src="{% static 'js/dashboard.js' %}"></script>
{% block extra_js %}{% endblock %}
</body>
</html>
