<!-- Add New Category Modal -->
<div class="modal fade" id="addCategoryModal" tabindex="-1" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addCategoryModalLabel">
            {% if not is_transaction %}
            Add New {% if is_expense|stringformat:"s" == "True" %}Expense{% else %}Earning{% endif %} Category
            {% else %}
            Add New {% if is_expense|stringformat:"s" == "True" %}Expense{% else %}Earning{% endif %}
            {% endif %}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="addCategoryModalBody">
        <!-- Form will be loaded here dynamically -->
        <div class="text-center p-3">
            <div class="spinner-border text-primary" role="status" id="loadingSpinner" style="display:none;">
              <span class="visually-hidden">Loading...</span>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>