<form method="post"
      action="{% if is_transaction %}
                  {% url 'add_new_transaction' form.initial.is_expense %}
               {% else %}
                  {% url 'add_new_category' form.initial.is_expense %}
               {% endif %}"
      class="category-form">
  {% csrf_token %}

  {% for field in form %}
    {% if field.name != 'is_expense' %}
      <div class="mb-3">
        {% if field.name == 'date' %}
        <input type="date" name="date" class="form-control" value="{{ today|date:'Y-m-d' }}">
        {% else %}
        <label class="form-label fw-semibold text-secondary">{{ field.label }}</label>
        <div class="form-field">
          {{ field }}
        </div>
          {% endif %}
        {% if field.errors %}
          <div class="text-danger small mt-1">{{ field.errors|striptags }}</div>
        {% endif %}
      </div>
    {% endif %}
  {% endfor %}

  <div class="text-end">
    <button type="submit" class="btn btn-success btn-lg px-4">
      <i class="bi bi-check-circle"></i> Save
    </button>
  </div>
</form>
