{% extends 'layouts/auth_base.html' %} {% block title %}Login -Accounts{%endblock%} {% block content %}
<div class="card shadow-lg border-0 rounded-lg mt-4">
  <div class="card-header bg-primary text-white">
    <h3 class="mb-0 text-center">Login</h3>
  </div>
  <div class="card-body p-4">
    {% if messages %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      {% for message in messages %} {{ message }} {% if not forloop.last %}<br />{%endif%} {% endfor %}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endif %}

    <form method="post" novalidate>
      {% csrf_token %}

      <div class="form-floating mb-3">
        <input
          type="text"
          name="username"
          class="form-control {% if form.email.errors %}is-invalid{% endif %}"
          id="id_username"
          placeholder="username"
          required
          autofocus
        />
        <label for="id_username">User name</label>
        {% if form.username.errors %}
        <div class="invalid-feedback">
          {% for error in form.username.errors %} {{ error }} {% endfor %}
        </div>
        {% endif %}
      </div>

      <div class="form-floating mb-4">
        <input
          type="password"
          name="password"
          class="form-control {% if form.password.errors %}is-invalid{% endif %}"
          id="id_password"
          placeholder="Password"
          required
        />
        <label for="id_password">Password</label>
        {% if form.password.errors %}
        <div class="invalid-feedback">
          {% for error in form.password.errors %} {{ error }} {% endfor %}
        </div>
        {% endif %}
      </div>

      <div class="d-flex align-items-center justify-content-between mt-4 mb-2">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            name="remember"
            id="remember"
          />
          <label class="form-check-label" for="remember">Remember me</label>
        </div>
<!--        <a class="small text-decoration-none" href="#">Forgot password?</a>-->
      </div>

      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary btn-lg">Sign In</button>
      </div>
    </form>
  </div>
  <div class="card-footer py-3 bg-light text-center">
    <p class="mb-0">Contact admin for account creation</p>
  </div>
</div>
{% endblock %}
